In [113]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [114]:
data_circuits = pd.read_csv('../../data-projects/data_f1/circuits.csv', encoding = 'utf-8', encoding_errors = 'ignore')
data_races = pd.read_csv('../../data-projects/data_f1/races.csv', encoding = 'utf-8', encoding_errors = 'ignore')

In [115]:
data_circuits.shape

(77, 9)

In [116]:
data_circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmel贸,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [117]:
data_circuits = data_circuits.drop(['circuitRef', 'lat', 'lng', 'alt', 'url'], axis = 1)
data_circuits.head()

   circuitId                            name      location    country
0          1  Albert Park Grand Prix Circuit     Melbourne  Australia
1          2    Sepang International Circuit  Kuala Lumpur   Malaysia
2          3   Bahrain International Circuit        Sakhir    Bahrain
3          4  Circuit de Barcelona-Catalunya      Montmel贸      Spain
4          5                   Istanbul Park      Istanbul     Turkey

In [118]:
data_circuits = data_circuits.rename(columns={'circuitId': 'circuit_id'})
data_circuits.head()

   circuit_id                            name      location    country
0           1  Albert Park Grand Prix Circuit     Melbourne  Australia
1           2    Sepang International Circuit  Kuala Lumpur   Malaysia
2           3   Bahrain International Circuit        Sakhir    Bahrain
3           4  Circuit de Barcelona-Catalunya      Montmel贸      Spain
4           5                   Istanbul Park      Istanbul     Turkey

In [119]:
data_races.shape

(1102, 18)

In [120]:
data_races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [121]:
data_races = data_races.drop(['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'url'], axis = 1)

In [122]:
data_races.head()

   raceId  year  round  circuitId                   name        date      time
0       1  2009      1          1  Australian Grand Prix  2009-03-29  06:00:00
1       2  2009      2          2   Malaysian Grand Prix  2009-04-05  09:00:00
2       3  2009      3         17     Chinese Grand Prix  2009-04-19  07:00:00
3       4  2009      4          3     Bahrain Grand Prix  2009-04-26  12:00:00
4       5  2009      5          4     Spanish Grand Prix  2009-05-10  12:00:00

In [123]:
data_races = data_races.rename(columns={'raceId': 'race_id', 'round': 'race_num', 'circuitId': 'circuit_id'})
data_races.head()

,race_id,year,race_num,circuit_id,name,date,time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00

In [124]:
data_races.year.unique()

array([2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 2010, 1989,
       1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978,
       1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967,
       1966, 1965, 1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956,
       1955, 1954, 1953, 1952, 1951, 1950, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

In [125]:
data_races = data_races.sort_values(by = 'date', ascending = False)
data_races.head()

,race_id,year,race_num,circuit_id,name,date,time
1101,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00
1100,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00
1099,1118,2023,21,18,S茫o Paulo Grand Prix,2023-11-05,17:00:00
1098,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00
1097,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00

In [126]:
data_races = data_races.reset_index(drop = True)

In [127]:
data_races.head()

,race_id,year,race_num,circuit_id,name,date,time
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00
1,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00
2,1118,2023,21,18,S茫o Paulo Grand Prix,2023-11-05,17:00:00
3,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00
4,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00

In [128]:
# unir los dataframes
data_merged = pd.merge(data_races, data_circuits, on = 'circuit_id')
data_merged.head()

,race_id,year,race_num,circuit_id,name_x,date,time,name_y,location,country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
1,1096,2022,22,24,Abu Dhabi Grand Prix,2022-11-20,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
2,1073,2021,22,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
3,1047,2020,17,24,Abu Dhabi Grand Prix,2020-12-13,13:10:00,Yas Marina Circuit,Abu Dhabi,UAE
4,1030,2019,21,24,Abu Dhabi Grand Prix,2019-12-01,13:10:00,Yas Marina Circuit,Abu Dhabi,UAE

In [129]:
data_merged = data_merged.sort_values(by = 'date', ascending = False)
data_merged.head()

,race_id,year,race_num,circuit_id,name_x,date,time,name_y,location,country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
15,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,Las Vegas Strip Street Circuit,Las Vegas,United States
16,1118,2023,21,18,S茫o Paulo Grand Prix,2023-11-05,17:00:00,Aut贸dromo Jos茅 Carlos Pace,S茫o Paulo,Brazil
56,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,Aut贸dromo Hermanos Rodr铆guez,Mexico City,Mexico
79,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,Circuit of the Americas,Austin,USA

In [130]:
data_merged = data_merged.reset_index(drop = True)
data_merged.head()

,race_id,year,race_num,circuit_id,name_x,date,time,name_y,location,country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
1,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,Las Vegas Strip Street Circuit,Las Vegas,United States
2,1118,2023,21,18,S茫o Paulo Grand Prix,2023-11-05,17:00:00,Aut贸dromo Jos茅 Carlos Pace,S茫o Paulo,Brazil
3,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,Aut贸dromo Hermanos Rodr铆guez,Mexico City,Mexico
4,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,Circuit of the Americas,Austin,USA

In [131]:
data_merged.name_x.unique()

array(['Abu Dhabi Grand Prix', 'Las Vegas Grand Prix',
       'S茫o Paulo Grand Prix', 'Mexico City Grand Prix',
       'United States Grand Prix', 'Qatar Grand Prix',
       'Japanese Grand Prix', 'Singapore Grand Prix',
       'Italian Grand Prix', 'Dutch Grand Prix', 'Belgian Grand Prix',
       'Hungarian Grand Prix', 'British Grand Prix',
       'Austrian Grand Prix', 'Canadian Grand Prix', 'Spanish Grand Prix',
       'Monaco Grand Prix', 'Emilia Romagna Grand Prix',
       'Miami Grand Prix', 'Azerbaijan Grand Prix',
       'Australian Grand Prix', 'Saudi Arabian Grand Prix',
       'Bahrain Grand Prix', 'Brazilian Grand Prix', 'French Grand Prix',
       'Turkish Grand Prix', 'Russian Grand Prix', 'Styrian Grand Prix',
       'Portuguese Grand Prix', 'Sakhir Grand Prix', 'Eifel Grand Prix',
       'Tuscan Grand Prix', '70th Anniversary Grand Prix',
       'Mexican Grand Prix', 'German Grand Prix', 'Chinese Grand Prix',
       'Malaysian Grand Prix', 'European Grand Prix', 'Indian Grand Prix',
       'Korean Grand Prix', 'San Marino Grand Prix',
       'Luxembourg Grand Prix', 'Argentine Grand Prix',
       'Pacific Grand Prix', 'South African Grand Prix',
       'Detroit Grand Prix', 'Dallas Grand Prix',
       'United States Grand Prix West', 'Caesars Palace Grand Prix',
       'Swiss Grand Prix', 'Swedish Grand Prix', 'Indianapolis 500',
       'Moroccan Grand Prix', 'Pescara Grand Prix'], dtype=object)

In [132]:
data_merged.location.unique()

array(['Abu Dhabi', 'Las Vegas', 'S茫o Paulo', 'Mexico City', 'Austin',
       'Al Daayen', 'Suzuka', 'Marina Bay', 'Monza', 'Zandvoort', 'Spa',
       'Budapest', 'Silverstone', 'Spielberg', 'Montreal', 'Montmel贸',
       'Monte-Carlo', 'Imola', 'Miami', 'Baku', 'Melbourne', 'Jeddah',
       'Sakhir', 'Le Castellet', 'Istanbul', 'Sochi', 'Portim茫o',
       'N眉rburg', 'Mugello', 'Hockenheim', 'Shanghai', 'Kuala Lumpur',
       'Uttar Pradesh', 'Yeongam County', 'Valencia', 'Oyama',
       'Magny Cours', 'Indianapolis', 'Buenos Aires',
       'Jerez de la Frontera', 'Estoril', 'Adelaide', 'Okayama',
       'Castle Donington', 'Midrand', 'Phoenix', 'Rio de Janeiro',
       'Detroit', 'Kent', 'Dallas', 'Dijon', 'Heusden-Zolder',
       'California', 'Nevada', 'Madrid', 'New York State', 'Anderstorp',
       'Ontario', 'Barcelona', 'Brussels', 'Clermont-Ferrand', 'Quebec',
       'Rouen', 'Le Mans', 'Reims', 'Eastern Cape Province', 'Styria',
       'Liverpool', 'Oporto', 'Florida', 'Lisbon', 'Berlin', 'Casablanca',
       'Pescara', 'Bern'], dtype=object)

In [133]:
#data_merged = data_merged.drop(['name_x'], axis = 1)
data_merged.head()

,race_id,year,race_num,circuit_id,name_x,date,time,name_y,location,country
0,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,Yas Marina Circuit,Abu Dhabi,UAE
1,1119,2023,22,80,Las Vegas Grand Prix,2023-11-19,06:00:00,Las Vegas Strip Street Circuit,Las Vegas,United States
2,1118,2023,21,18,S茫o Paulo Grand Prix,2023-11-05,17:00:00,Aut贸dromo Jos茅 Carlos Pace,S茫o Paulo,Brazil
3,1117,2023,20,32,Mexico City Grand Prix,2023-10-29,20:00:00,Aut贸dromo Hermanos Rodr铆guez,Mexico City,Mexico
4,1116,2023,19,69,United States Grand Prix,2023-10-22,19:00:00,Circuit of the Americas,Austin,USA

In [137]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options

import time
import warnings
warnings.filterwarnings('ignore')

# opciones del driver
opciones = Options()

# quita la bandera de ser robot
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)

# guardar las cookies
opciones.add_argument('user-data-dir=cookies')    # mantiene las coockies

In [138]:
PATH = ChromeDriverManager().install()

driver = webdriver.Chrome(PATH)

driver.get('https://f1.fandom.com/wiki/Safety_Car')

In [ ]:
# productos = driver.find_elements(By.CLASS_NAME, 'sg-col-inner')

# len(productos)